body {
	@extend %body-font-family;
	font-size: 100%;
}

strong {
	@extend %bold;
}

p {
	@extend %paragraph-size;
	margin-bottom: $quarter-spacing-unit;
}

a {
	@extend %default-transition;
	color: inherit;
}

ul {
	margin-bottom: $quarter-spacing-unit;
}

ol {
	margin-bottom: $quarter-spacing-unit;
}

li {
	@extend %paragraph-size;
	margin-bottom: $tiny-spacing-unit;
}

blockquote {
	> p{
		@extend %paragraph-size;
	}
}

h1, h2 ,h3, h4, h5, h6 {
	@extend %header-font-family;
}

h1 {
	font-size: rem(38px);
	line-height: rem(40px);
	color: black;
	margin: 0 0 0.8em 0;
	text-align: center;

	.lt-ie9 & {
		font-size: 38px;
		line-height: 40px;
	}
}

h2 {
	@extend %heading-2-size;
	margin: 0.9em 0 0.6em 0;
}

h3 {
	@extend %heading-3-size;
	margin: 0.8em 0 0.7em 0;
}

h4 {
	@extend %heading-4-size;
	margin: 0.8em 0 0.7em 0;
}

h5 {
	@extend %heading-5-size;
	margin: 0.8em 0 0.7em 0;
}