    <header class="site-header">
        <h2>We Love Food - Bath</h2>
    </header>
    <div class="main">
        <h1>Food recomendations</h1>
    </div>
    <footer class="site-footer">
        <small>&copy; We Love Bath</small>
    </footer>
