<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>We love food</title>
  <link rel="stylesheet" href="./css/app.css">
</head>
<body>
    <div class="page">
        <%- body %>



    </div>
    <script src="/js/system.js"></script>
    <script>
        System.config({
            baseURL: './js/'
        });

        System.import('app/app')
    </script>
</body>
</html>
