<section class="tabs">
   <ul class="tabs__nav">
	 <li class="tabs__nav__item" ng-class="{active:tab.isSet(1)}">
	   <a class="tabs__nav__link" ng-click="tab.setTab(1)" href>Description</a></li>
	 <li class="tabs__nav__item" ng-class="{active:tab.isSet(2)}">
	   <a class="tabs__nav__link" ng-click="tab.setTab(2)" href>Specs</a></li>
	 <li class="tabs__nav__item" ng-class="{active:tab.isSet(3)}">
	   <a class="tabs__nav__link" ng-click="tab.setTab(3)" href>Reviews</a></li>
   </ul>
   <li class="tabs__item" ng-show="tab.isSet(1)">
	 <h4 class="tabs__title">Description</h4>
	 <p class="tabs__content">{{restaurant.description}}</p>
   </li>
   <li class="tabs__item" ng-show="tab.isSet(2)">
	 <h4 class="tabs__title">Specs</h4>
	 <ul class="tabs__listing">
		<li class="tabs__listing__item">
			Shine: {{restaurant.shine}}
		</li>
	 </ul>
   </li>
   <li class="tabs__item" ng-show="tab.isSet(3)">
		<h4 class="tabs__title">Reviews</h4>
		<blockquote class="tabs__quote" ng-repeat="review in restaurant.reviews">
		   <strong class="tabs__quote__standout">{{review.stars}}</strong>
			{{review.body}}
		   <cite class="tabs__quote__meta">{{review.createdOn | date}} — {{review.author}}</cite>
		</blockquote>	
		<restaurant-reviews></restaurant-reviews>
   </li>
</section>